<site-title><a href="/" style="color: #525C66;">Open Source Academy</a></site-title>
<top_menu>
    <h1>
        <a href="/study" style="color: #525C66; padding-right: 6pt;">Study</a>
        <a href="/community" style="color: #525C66; padding-right: 6pt;">Community</a>
        <a href="/about" style="color: #525C66; padding-right: 6pt;">About</a>
        <a href="https://github.com/opensource-academy" style="color: #525C66; padding-right: 6pt;">GitHub</a>
        <a href="/meetups" style="color: #ed7644; padding-right: 6pt;">Meetups</a>
    </h1>
</top_menu>
