<site-title><a href="/" style="color: #525C66;">Opensource Academy</a></site-title>
<top_menu>
    <h3>
        <a href="/study" style="color: #525C66; padding-right: 6pt;">Study</a>
        <a href="/community" style="color: #525C66; padding-right: 6pt;">Community</a>
        <a href="/courses" style="color: #525C66; padding-right: 6pt;">Courses</a>
        <a href="/about" style="color: #525C66; padding-right: 6pt;">About</a>
        <a href="https://github.com/opensource-academy" style="color: #525C66; padding-right: 6pt;">GitHub</a>
    </h3>
</top_menu>
